/.idea/
/bin/
/build/
/var/
/.db/

*.sinlog
*.sinbak
*.sha256.txt

*.db
*.exe
*.exe~
*.dll
*.so
*.dylib
*.html

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
go.work